/* CSS Document */

*{margin:0;padding:0;}
ul{ list-style:none;}
a:link {
	color:#000000;
    text-decoration:none;
}

a:visited {
    color:#000000;
    text-decoration:none;
}
    
a:hover {
    color:#000000;
    text-decoration:none;
    }
    
a:active {
    color:#000000;
    text-decoration:none;
}

/**tr间隔色变*/
table{font-size:12px;}
table td{ padding-left:5px; padding-right:5px; height:20px;}
.tableForm{background:#999999;}
.table1{background:#999999;}
.table1 td{ padding-left:5px; padding-right:5px; height:20px;}
.tr1{ background:#DAE4EF;font-size:12px;}
.tr2{ background:#F4F5F7;font-size:12px;}
.tr_1{
	font-size: 12px;
	line-height: 20px;
	color: #2c3a45;
	background-color: #fefefe;	
}
.tr_2{
	font-size: 12px;
	line-height: 20px;
	color: #2c3a45;
	background-color: #f0f0f0;
}
.clear{  clear: both;}

/* 头部 */
#header{width:100%;height:auto;min-height:50px;background:#186EB7;min-width:1420px;}
#header .toplogo{float:left;color:#fff;font-size:18px; font-weight:250;text-shadow: 0px 0px 1px #fff;text-indent:10px}
#header .topright{float:right;width:270px;height:50px;color:#fff;font-size:14px;}
#header .topright .tlft{float:left;padding-top: 20px;line-height: 24px;}
#header .topright .tlft .users{ text-align:center;}
#header .topright .tlft .users img{ vertical-align: middle;padding-right: 6px;}
#header .topright .trht{float:left;padding-top: 12px;line-height: 20px;margin-left:10px;}
#header .topright .trht a{color:#fff}
#header .topright .trht .bjmm{padding-left:26px;padding-top: 10px;float:left;}
#header .topright .trht .tclose{padding-left:26px; padding-top: 10px;float:left;}

/* 顶部导航 */
#nav{background:#E3E3E3;height:40px;width:100%;border-bottom: 2px solid #5ba2df;}
#nav ul{margin-bottom:0px;}
#nav ul li{float:left;font-size:14px;width:114px;line-height:40px;text-align: center;border-right: 1px solid #ccc;color:#000;}
#nav ul li:hover{background:#359FE0;color:#fff;}
#nav ul li:hover a{color:#fff}
#nav .changeli{background:#359FE0;color:#fff;}
#nav .changeli a{color:#fff;}

.main{width:96%;margin:0 auto;}

.biaoge{width:380px;background:#fff;margin-top:20px;border: 1px solid #E2E2E2;border-radius:5px 0px 0px 5px;  float: left;}
.biaoge .bgtop{
	height:32px;
	line-height:30px;
	color:#fff;
	border-radius:5px 0px 0px 0px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#1972BD,endColorStr=#166AB0);
	background:-ms-linear-gradient( top,#1972BD,#166AB0);
    background: -moz-linear-gradient( top,#1972BD,#166AB0);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#1972BD), to(#166AB0));
	background: -o-linear-gradient(top,#1972BD,#166AB0);
}

.biaoge .bgleft{ 
  float: left;
  border-right: 1px solid #5A5858;
  box-shadow: 0px 0px 1px #FFFFFF;
  padding-right: 5px;}
.biaoge .bgright{float:left; margin-left:5px;}
.biaoge .bgtop img{ vertical-align:middle;padding-left: 8px;}
.biaoge .bgtop .bgtimg{float:right;vertical-align:middle;padding-right: 8px;padding-top:5px}
.biaoge .bgmain tr{height:30px;}
.biaoge .bgmain .trbg{background:#EEEEEE;}
.biaoge .bgmain td{border-right: 1px solid #EEEEEE;}
.biaoge .bgmain td:last-child{border-right:none;}
.biaoge .bgmain table{
  margin: 0 auto;
  text-align: center;}
  
  
.biaoge2{width:940px;background:#fff;margin-top:20px;border: 1px solid #E2E2E2;border-radius:0px 5px 5px 0px;  float: left;margin-left: 40px;}
.biaoge2 .bgtop{
	height:32px;
	line-height:30px;
	color:#fff;
	border-radius:0px 5px 0px 0px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#1972BD,endColorStr=#166AB0);
	background:-ms-linear-gradient( top,#1972BD,#166AB0);
    background: -moz-linear-gradient( top,#1972BD,#166AB0);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#1972BD), to(#166AB0));
	background: -o-linear-gradient(top,#1972BD,#166AB0);
}
.biaoge2 .bgleft{ 
  float: left;
  border-right: 1px solid #5A5858;
  box-shadow: 0px 0px 1px #FFFFFF;
  padding-right: 5px;}
.biaoge2 .bgright{float:left; margin-left:5px;}
.biaoge2 .bgtop img{ vertical-align:middle;padding-left: 8px;}
.biaoge2 .bgtop .bgtimg{float:right;vertical-align:middle;padding-right: 8px;padding-top:5px}
.biaoge2 .bgmain tr{height:30px;}
.biaoge2 .bgmain .trbg{background:#EEEEEE;}
.biaoge2 .bgmain td{border-right: 1px solid #EEEEEE;}
.biaoge2 .bgmain td:last-child{border-right:none;}
.biaoge2 .bgmain table{
  margin: 0 auto;
  text-align: center;}
  
   /*main左菜单*/ 
#main_left{
	width:300px;
	height:642px;
	float:left;
	border-right:3px solid #0196f0;
	
	}
.menu_top{
	width:100%;
	height:48px;
	background:#0d7fd7;
	vertical-align:central;
	}	
.menu_top img{
	float:left;
	
	}
.menu_top h3{
	color:#fff;
	float:left;
	font-family:"幼圆";
	line-height:47px;
	padding-left:18px;
	font-size:18px;
	}
.menu_bot ul{
	width:100%;
	}	
.menu_bot img{
	float:right;
	padding:15px 10px 0 0;
	}	
.menu_bot ul li{
	line-height:42px;
	border-bottom:1px solid #e3e3e3;
	padding-left:46px;
	font-size:14px;
	color:#354052;
	background:url(../img/gdsjcxwjg/10.png) no-repeat 12px center;
	}	
.menu_bot ul li:hover{
	font-weight:bold;
	cursor:pointer;
	background:url(../img/gdsjcxwjg/10.png) no-repeat 12px center #f2f2f2;
	}	