/* CSS Document */

*{margin:0;padding:0;}
body{ background:url(../img/login/bg.jpg) repeat-x;margin:0;padding:0;width:100%; font-family:"微软雅黑";}
ul{ list-style:none;}
.login{background:url(../img/login/login_bg.jpg) no-repeat;width:1440px;height:801px;}
.login .lbt{color:#6e6e6e;font-size:30px; line-height:82px;padding-left:170px;}
.login .ldl{width:392px;height:446px;  position: relative;left: 904px; }
.login .ldl ul{position:relative;top:94px;left:94px;}
.login .ldl ul li{  line-height: 60px;width: 63%;}
.login .ldl ul li input{line-height:30px; border:none;width:100%}
.login .ldl .yzm{width:54%}
.login .ldl .yzmimg{float: right;padding-top: 7px;width:99px;height:43px;}
.login .ldl .jizhu{  width: 68%;position: relative;top: 95;left: 70px;font-size: 12px;color: #767171;}
.login .ldl .jizhu .jzr{float:right}
.login .ldl .lbtn{ 
  width: 72%;
  background: #00aaef;
  border-radius: 3px;
  height: 52px;
  color: #fff;
  font-size: 16px;
  line-height: 52px;
  text-align: center;
  position: relative;
  top: 120px;
  left: 60px;}
.login .lfooter{color:#fff;width:100%; text-align:center;position: relative;top: 235px;}